BasedOnStyle: LLVM
IndentWidth: 4
SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  # 1) Project headers
  - Regex: '^"'
    Priority: 3

  # 2) Standard library
  - Regex: '^<.*>$'
    Priority: 1

  # 3) Third-party libraries
  - Regex: '^<(boost|fmt|gtest|spdlog)/.*>'
    Priority: 2
